<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.springapp.mvc.controller" />

    <mvc:annotation-driven />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>WEB-INF/ecat.properties</value>
        </property>
    </bean>


    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/ecat" />
        <property name="username" value="root" />
        <property name="password" value="root" />
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan">
            <list>
                <value>com.springapp.mvc.domain</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
            </props>
        </property>
    </bean>

    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <tx:annotation-driven />
    <bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="prefix">-->
            <!--<value>/WEB-INF/pages/</value>-->
        <!--</property>-->
        <!--<property name="suffix">-->
            <!--<value>.jsp</value>-->
        <!--</property>-->
    <!--</bean>-->


    <bean id="categoryService" class="com.springapp.mvc.service.impl.CategoryServiceImpl" />
    <bean id="productService" class="com.springapp.mvc.service.impl.ProductServiceImpl"/>

    <bean id="categoryDAO" class="com.springapp.mvc.dao.impl.CategoryDaoImpl"/>
    <bean id="productDAO" class="com.springapp.mvc.dao.impl.ProductsDaoImpl"/>

    <bean id="dataObjectService" class="com.springapp.mvc.service.impl.DataObjectServiceImpl" />
    <bean id="objectTypeService" class="com.springapp.mvc.service.impl.ObjectTypeServiceImpl"/>

    <bean id="dataObjectDAO" class="com.springapp.mvc.dao.impl.DataObjectDAOImpl"/>
    <bean id="objectTypeDAO" class="com.springapp.mvc.dao.impl.ObjectTypeDAOImpl"/>

    <bean id="pictureService" class="com.springapp.mvc.service.impl.PictureServiceImpl"/>
    <bean id="pictureDAO" class="com.springapp.mvc.dao.impl.PictureDAOImpl"/>

    <bean id="userService" class="com.springapp.mvc.service.impl.UserServiceImpl"/>
    <bean id="userDAO" class="com.springapp.mvc.dao.impl.UserDAOImpl"/>

    <bean id="emailValidator" class="com.springapp.mvc.validator.EmailValidator" />
    <bean id="userFormValidator" class="com.springapp.mvc.validator.UserFormValidator" />

    <bean id="multipartResolver"
                class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="50000000"/>
    </bean>

    <context:component-scan base-package="com.springapp.mvc.config" />

</beans>